

<app-timer></app-timer>

<div class="container">
    <table>
      <tr class="row">
        <td class="content" [ngStyle]="{backgroundColor: getColor(1)}" (click)="sendId(1)">
        </td>
  
        <td class="content" [ngStyle]="{backgroundColor: getColor(2)}" (click)="sendId(2)">
        </td>
      </tr>
    
      <tr class="row">
        <td class="content" [ngStyle]="{backgroundColor: getColor(3)}" (click)="sendId(3)">
        </td>
    
        <td class="content" [ngStyle]="{backgroundColor: getColor(4)}" (click)="sendId(4)">
        </td>
      </tr>
    </table>
  </div>
